html { 
  min-height: 100vh;
  overflow-x: scroll; 
}


body { 

}


#laneSeg {

}

.ui.icon.button {
  padding: .5em;
}


.laneButton {
  padding: 0;
}


.laneSegGrp {
  margin-top: 35% !important;
  width: 80%;
}


.test_card_divs {
  text-align: center;
}

.laneCol {
  /* overflow-x: scroll; */
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
  padding-left: .5rem !important;
  padding-right: .5rem !important;
}


.task_Column_Segement {
  /* overflow-x: scroll; */
  padding-top: .05rem !important;
  padding-bottom: .05rem !important;
  padding-left: .05rem !important;
  padding-right: .05rem !important;
  background-color: #587B7F !important;
}



.blankLanes {
  /* overflow-x: scroll; */
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
  padding-left: .5rem !important;
  padding-right: .5rem !important;
}


.laneLGrp {
  margin-top: 25%;
  margin-left: 10%;
  /* align-items: center; */
  text-align: center;
}


.laneLGrp3 {
  margin-top: 55%;
  margin-left: 10%;
  /* align-items: center; */
  text-align: center;
}


.laneRow {
  /* overflow-x: scroll; */
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 200px;
}


.laneDaySeg {
  font-size: 12px;
  padding: 3px !important;
  width: 80%;
  /* margin-top: 30px; */
  };


.sectionTitle {
  margin-top: 10px !important;
};

.ui.grid>.row>.ui.segment.column, .ui.grid>.ui.segment.column, .ui.page.grid.segment {
background-color: green;
/* background-color: #9FB8AD; */

}

.column_Title_Block {
  margin-top: 0px !important;
  margin-bottom: 15px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
  background-color: #E6E8E6 !important;
};

.ui.grid>.row>.ui.segment.column, .ui.grid>.ui.segment.column, .ui.page.grid.segment {
  padding-top: 1em !important;
};

/* .ui.card{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  padding: 5px !important;
} */




/* .ui.card{}
*/


/* .ui.card, .ui.cards>.card{
  margin-bottom: 15px;
} */

/* .ui.card.card_Body_Unit {
  margin-top: 15px !important;
} */
/* 

.ui.card, .cardBlock {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
};  */


/* .ui.grid>.row>.ui.segment.column, .ui.grid>.ui.segment.column, .ui.page.grid.segment {
  background-color: #ced0ce;
}; */