.card_Main {
/* border: 2px solid #0000b3 !important; */
border-top: 3px solid #0000b3 !important;
border-bottom: 1px solid #0000b3 !important;
}

.card_Header {
  /* font-weight: bold; */
  font-size: 16px !important;
  font-weight: 600;
  background-color: #e6f7ff !important; 
}

.card_Content {
  font-size: 12px !important;
}

.card_Footer {
  background-color: #e6f7ff !important; 
}

.arrow_block {
  font-size: 12px !important;
}

.assigned_inits {
  font-size: 14px !important;
}