.taskboard_Main {
  background-color: white !important;
}

.col_Lane {
  /* background-color: red !important; */
  color: #0000b3;
  font-weight: 600;
}

.col_Box {
  border: 1px solid #0000b3 !important;
  background-color: white !important;
}

.lane_Title {
  font-size: 24px !important; 
  font-weight: 600;
  color: #0000b3;
}

.col_Lane {
  font-size: 20px !important;
}

.add_CardIcon {
  cursor: pointer;
}

.newCard_MHeader {
  color: #0000b3;
}

.table_Header {
  color: #0000b3;
}

.delete_Button {
  background-color: #0000b3 !important;
}

.add_Button {
  background-color: #0000b3 !important;
}



#table_Index {
  color: #0000b3;
  font-weight: 600;
}

#table_Input {
  width: 100%;
}