html { 
  min-height: 100vh;
  overflow-x: scroll; }


body { 
  /* margin-left: 45px;
  position: absolute; 
  overflow-x: scroll; */

}

/* .ui.segment:first-child {
  margin: 1 rem;
} */

/* .ui.cards {
} */


#laneSeg {

}

.ui.icon.button {
  padding: .5em;
}


.laneButton {
  padding: 0;
}


.laneSegGrp {
  margin-top: 35% !important;
  width: 80%;
}


.laneCol {
  /* overflow-x: scroll; */
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
  padding-left: .5rem !important;
  padding-right: .5rem !important;}



.laneLGrp {
  margin-top: 25%;
  margin-left: 10%;
  /* align-items: center; */
  text-align: center;
}


.laneLGrp3 {
  margin-top: 55%;
  margin-left: 10%;
  /* align-items: center; */
  text-align: center;
}


.laneRow {
  /* overflow-x: scroll; */
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 200px;
}


.laneDaySeg {
  font-size: 12px;
  padding: 3px !important;
  width: 80%;
  /* margin-top: 30px; */
  };


.sectionTitle {
  margin-top: 10px !important;
};


#steveseg {
  background-color: red;
  /* overflow: scroll; */

};